body {
    margin: 0;
    padding: 0;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: bold;
    background: linear-gradient(to bottom, #FFFFE0, #9ACD32);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
